@import "../variables";
@import "../functions.scss";

 :root{
    --bgTechStackLight:#ececec;
    --bgTechStackDark:#1a2735;
}

#root.light{
    --bgTechStack:var(--bgTechStackLight);
}

#root.dark{
    --bgTechStack:var(--bgTechStackDark);
}

.technologies{
    @include flexCenter();
    flex-wrap: wrap;
    gap:.5em;

    &__li{
        display: flex;
        justify-content: center;
        flex-direction: column;
        transition: all .1s ease-in-out;
        padding: 0 3em;

        &:hover{
            border-radius: 10px;
            background-color: var(--bgTechStack);
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
        }

        &:hover .technologies__icon{
            transform: rotate(10deg);
            -webkit-transform: rotate(10deg);
            -moz-transform: rotate(10deg);
            -ms-transform: rotate(10deg);
            -o-transform: rotate(10deg);
}
    }

    &__icon{
        font-size: 2em;
        @include flexCenter();
        transition:  all .2s ease-in-out   ;
        -webkit-transition:  all .2s ease-in-out   ;
        -moz-transition:  all .2s ease-in-out   ;
        -ms-transition:  all .2s ease-in-out   ;
        -o-transition:  all .2s ease-in-out   ;
}

    &__name{
        @include flexCenter();
        padding-top: .4em;
        font-size: 1.2em;
        font-weight: bold;
        font-family: $descriptionFont;
        color: var(--text);
        width: 3em;
    }
}