@import "../variables";
@import "../functions.scss";

 :root{
  --colorNavDark:#b4d1ab;
  --borderNavDark:#043e49;

  --colorNavLight:#687864;
  --borderNavLight:#087990;
}

#root.light{
  --colorNav:var(--colorNavLight);
  --borderNav:var(--borderNavLight);
}

#root.dark{
  --colorNav:var(--colorNavDark);
  --borderNav:var(--borderNavDark);
}

.menu-mobile{
  position: fixed;
  @include flexCenter();
  z-index: 10;
  top: 6px;
  left: 0;
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;

  .menu__links{
    height: 100vh;
    background-color: var(--background);
    padding-top: 50px;
  }

  .menu__link{
    list-style: none;
    padding: 10px 0;

    & a{
      text-decoration: none;
      color: var(--colorNav);
      font-size: 16px;
      padding-bottom: 4px;

      &:hover{
        color: var(--borderNav);
      }
    }
  }
}

.menu{
  display: none;
}

.menu-mobile{
  display: block;
}

.menu-mobile__hamburger{
  position: absolute;
  left: 2%;
  top: 2%;
  cursor: pointer;
}

.language-switch {
  margin-right: 0.5em;
  width: 5em;

  &:hover &__label{
    scale: 1.2;
  }

  &:hover &__icon{
    scale: 2;
  }

  &__label{
    @include flexCenter();
    padding-right: 0.6em;
    font-weight: 700;
    transition: all .1s ease-in-out  ;
    -webkit-transition: all .1s ease-in-out  ;
    -moz-transition: all .1s ease-in-out  ;
    -ms-transition: all .1s ease-in-out  ;
    -o-transition: all .1s ease-in-out  ;
  }

  &__icon {
    @include flexCenter();
    scale: 1.8;
    transition: all .1s ease-in-out  ;
    -webkit-transition: all .1s ease-in-out  ;
    -moz-transition: all .1s ease-in-out  ;
    -ms-transition: all .1s ease-in-out  ;
    -o-transition: all .1s ease-in-out  ;
  }
}

.theme-switch {
  width: 3em;

  &:hover &__icon {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }

  &__icon {
    @include flexCenter();
    transition: all .3s linear ;
  }
}

.action-button {
  padding: 0.3em 0.6em;
  background-color: var(--background);
  border-radius: 2px;
  border: none;
  color: var(--colorNav);
  outline: none;
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -webkit-border-radius: 2px;

  &:hover{
    background-color: var(--bgSecound);
    color: $white;
  }
}

@media (min-width:$bigtablet){
  .menu{
    display: block;
    @include flexCenter();

    &__links{
      display: flex;
      flex-flow: row nowrap;
      margin: 0;
      padding: 0
    }

    &__link{
      list-style: none;
      padding-left: 20px;

      & a{
        text-decoration: none;
        color: var(--colorNav);
        font-size: 16px;
        padding-bottom: 4px;
        transition: all .1s ease-in-out;
        -webkit-transition: all .1s ease-in-out;
        -moz-transition: all .1s ease-in-out;
        -ms-transition: all .1s ease-in-out;
        -o-transition: all .1s ease-in-out;

        &:hover{
          color: var(--borderNav);
          border-bottom: 3px solid var(--borderNav);
        }
      }
    }
  }

  .menu-mobile{
    display: none;
  }
}